@import url('normalize.css');
body, 
html{
	height: 100%;
	width: 100%;
	position: relative;  
}
#imagen{
	width: 300px;
	height: 300px;
	margin: 0 auto;
	margin-top: 100px;
	display: block;
	transition: all .3s ease-in-out;
}
#imagen:hover{
	-webkit-transform: scaleY(1.5);
	-moz-transform: scaleY(1.5);
	-ms-transform: scaleY(1.5);
	transform: scaleY(1.5);
	transform-origin: left bottom
}
/*
	=== transform: scale(X, Y) ===
		-> En ambos sentidos un solo valor 
	=== transform: scaleX(x) ===
	=== transform: scaleY(y) ===

	VALORES NUMERICOS

	=== transform-origin: x y ===
	Palabras clave -> right, left, top, bottom, center
	Unidades de medida -> px, em, rem...etc
*/