@import url('normalize.css');
body, 
html{
	height: 100%;
	width: 100%;
	position: relative;  
}
.texto{
	width: 90%;
	margin: 0 auto;
	margin-top: 70px;
	border: 1px solid #E1E1E1;
	font-size: 27px;
	text-align: justify; 
	text-indent: 80px;
}
