@import url('normalize.css');
body, 
html{
	height: 100%;
	width: 100%;
	position: relative;  
}
/*
	==== Cursor ====
	help | pointer | text | copy | move | no-drop | wait | progress
*/
.enlace{
	font-size: 27px;
	cursor: move;
}
.boton{
	font-size: 20px;
	cursor: wait;
}