@import url('normalize.css');
body, 
html{
	height: 100%;
	width: 100%;
	position: relative;  
}
/*
	Se añaden a los selectores y nos permiten añadir 
	estilos según el estado de los elementos html

	== selector:link ==
	Enlaces que no han sido visitados (Solo color)

	== selector:visited ==
	Enlaces que han sido visitados (Solo color)

*/
a{
	font-size: 27px;
}
a:link{
	color: red;
}
a:visited{
	color: grey;
}